h1 {
	color: #55acee;
	font-family: sans-serif;
	text-align: center;
}

body {
	font-family: sans-serif;
	background: #595959; 
}

#browser {
	border-radius: 10px;
	padding: 5px 5px 3px 5px;
	width: 47%;
	max-width: 47%;
	float: left;
	height: auto;
	min-height: 40px;
	overflow: auto;
}

#playlist {
	border-radius: 10px;
	padding: 5px 5px 3px 5px;
	width: 50%;
	float: right;
	height: auto;
	min-height: 40px;
	overflow: auto;
}

#browser a, #playlist a {
	display: block;
	cursor: pointer;
	padding: 2px 4px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 2px;
}
#browser { 
	background: #ffcc00; 
}

#browser a.dir { 
	background: #55acee; 
	color: white; 
}

#browser a.file { 
	background: #e5b700;
	color: blue;
}

#playlist { 
	background: #55acee; 
}

#playlist a { 
	background: #37c871; 
}

#playlist a.playing { 
	background: #4c9ad6; 
	color: #ee9755; 
}

#browser a:hover {
	color: white;
}

#playlist a:hover {
	color: white;
}

#controls { 
	margin-top: 10px;
	margin-bottom: 10px; 
	left: 50%;
}

#controls a {
	cursor: pointer;
	background: #eee;
	padding: 5px;
	border-radius: 5px;
}

#divaudio {
	width: 100%;
	height: 60px;
	background: #666666;
	border-radius: 10px;

}

#addall {
	background: #666666;
}

audio {
	width: 100%;
	margin-top: 15px;
	background: #666666;
}
